@use "./abstract/variables" as *;

body.ozz-cms {
  &.view-dashboard {
    .recent-entries {
      .listing-s1 {
        table {
          td {
            font-size: $font-small-2;
          }
        }
      }
    }
  }
  // Settings - View
  &.settings {
    .profile-image {
      border: 5px solid color(light1-10);
      border-radius: 50%;
      overflow: hidden;
      width: 90px;
      height: 90px;
      img {
        width: 85px;
        height: 85px;
        object-fit: cover;
        text-align: center;
        object-position: center;
        font-size: $font-small;
      }
    }
    .button {
      width: auto;
    }
  }
  // Taxonomy
  &.view-taxonomy {
    .ozz-widget__item-raw {
      padding: 0;
    }
    .terms-table {
      input {
        width: 100%;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: $font-small-3;
        &:not(input[type="submit"]) {
          &:focus {
            border-color: color(primary);
            box-shadow: 0 0 0 4px color(primary-20);
            transition: .3s ease-in-out;
          }
        }
        &.error {
          border-color: color(danger);
          background-color: rgba(color-code("danger"), 0.03);
        }
      }
      tr {
        &:hover {
          input {
            border-color: color(secondary-20);
          }
          .terms-table__actions {
            opacity: 1;
          }
        }
        td {
          padding-left: 10px;
        }
      }
      &__actions {
        width: 90px;
        padding-right: 0;
        opacity: 0;
        .icon-button {
          cursor: pointer;
        }
      }
    }
  }
  // Forms - view
  &.view-form-entry {
    .post-edit-view__widget {
      width: 100%;
      .item {
        &:last-of-type {
          border-bottom: none !important;
        }
      }
      &.info {
        .ozz-fm__field {
          &:last-of-type {
            margin-bottom: 0;
            float: none;
          }
        }
        .update-status {
          .ozz-fm__field {
            &:first-of-type {
              width: 100%;
              float: left;
              margin-right: 10px;
            }
            &:nth-of-type(2) {
              float: right;
              clear: both;
            }
          }
        }
      }
      &.delete-entry {
        .ozz-fm__field {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    .entry-data {
      .ozz-widget__item-raw {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 0.6fr 2fr;
      }
      label {
        overflow-wrap: anywhere;
        font-size: $font-small-3;
      }
      .value {
        overflow-wrap: anywhere;
        line-height: 1.5;
        font-size: $font-small-3;
      }
    }
  }
  // Form - Create entry view
  &.view-create_entry {
    .ozz-fm__submit-wrap {
      input {
        width: auto;
        margin-right: auto;
      }
    }
  }
}
